.game {
  display: flex;
  height: 100%;

  .game-board {
    width: 50%;
    height: 50%;
    padding: 3rem;

    .board-row {
      display: flex;
      align-items: center;

      .square {
        display: flex;
        flex: 1;

        &:nth-child(2) {
          margin: 1rem;
        }
      }
    }
  }

  .game-info {
    width: 50%;

    ol {
      padding: 0;
    }
  }
}

.start {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  .player-row {
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }
}

#root {
  height: 100%;
}

body {
  height: 100%;
}
